################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WS1_1_Car/obj
/WS1_1_Car/bin/Debug/netcoreapp2.1
/.vs
/WS2_Car/obj/Debug/netcoreapp2.1
/WS2_Car/obj/Release/netcoreapp2.1
/WS2_Car/obj
/WS2_Cars/bin/Debug/netcoreapp2.1
/WS2_Cars/obj/Debug/netcoreapp2.1
/WS2_Cars/obj
